{% extends "layout.html" %}

{% block title %}
    Completed
{% endblock %}

{% block main %}

    <h1 class="display-4">Completed Items ✔</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Task</th>
                <th>Date Due</th>
                <th>Date/Time Completed</th>
                <th>Delete</th>
            </tr>
        </thead>
            {% for item in completes %}
                <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.date_due }}</td>
                    <td>{{ item.date_complete }}</td>
                    <td>
                        <form action="/delete_completed" method="post">
                            <input type=hidden value="{{ item.task_id }}" name="id_to_delete">
                            <button type="submit" class="btn btn-danger">X</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
    </table>

{% endblock %}