{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

    <form action="/add" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="task" placeholder="Enter Task" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="date"  type="date">
        </div>
        <button class="btn btn-primary" type="submit">Add Task</button>
    </form>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>To Do Item</th>
                <th>Date Due</th>
                <th>Complete</th>
            </tr>
        </thead>
            {% for task in butts %}
                <tr>
                    <td>{{ task.task }}</td>
                    <td>{{ task.date }}</td>
                    <td>
                        <form action="/delete" method="post">
                            <input type=hidden value="{{ task.todo }}" name="task_to_delete">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
    </table>

{% endblock %}