{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1 class="display-4">Register!</h1>
    <br>
    <form action="/register" method="post" class="needs-validation" novalidate
    oninput='confirmation.setCustomValidity(confirmation.value != password.value ? "Passwords do not match." : "")'>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="First Name" type="text" required>
            <div class="invalid-feedback">
                Please provide a first name
            </div>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Create Username" type="text" required>
            <div class="invalid-feedback">
                Please provide a username
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" name=password placeholder="Create Password" type="password" required>
            <div class="invalid-feedback">
                Must create a password
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" name=confirmation placeholder="Confirm Password" type="password" required>
            <div class="invalid-feedback">
                Passwords do not match
            </div>
        </div>
        <button class="btn btn-success" type="submit">Register</button>
    </form>
{% endblock %}
